.typewriterButton {
  position: relative;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  font-size: 64px;
  font-family: 'Courier New', monospace;
  background-color: black;
  color: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #333;
    color: wheat;
  }

  &:active {
    transform: scale(0.9);
    color: wheat;
    opacity: 1;
  }
}
